


.contingut {
	padding: 0px 0px;
}
.contingut img {
	max-width: 100%;
}
.contingut h1{
	font-size: 75px;
}
.contingut  *:not(div) {
	margin: 10px 20px;
}

#headerInici{
	background: url('images/image1.jpg') no-repeat;
	background-size: 100% auto;
	height: 500px;
}

#headerInici *{
	color:white;
}

.seccio{
	max-width:100%;
	height: auto;
	padding: 30px;
	display: flex;
	justify-content: center;
}

.centre{
	margin: 0 auto;
}

.ctr{
	min-width: 50%;
	display: flex;
	justify-content: center;
}

.esq{
	min-width: 50%;
	display: flex;
	justify-content: start;
}

.drt{
	min-width: 50%;
	display: flex;
	justify-content: end;
}

.titol2{
	text-align: center;
	padding: 15px;
}

.contingut  > *:not(div) {
	margin: 10px 20px;
}

.link {
	text-decoration: underline;
	color: black;
	cursor: pointer;
}
.link:hover {
	color: rgb(40,40,40);
}

#headerInici .link:hover {
	color: var(--colorPrincipal);
}

#footer{
	background: rgb(50,50,50);
	height: 200px;
}
